
    <div ng-controller="adminProductCompleteCtrl" id="complete">
        <div class="complete-top"></div>
        <div class="contents">
            <div class="message">
                Product update success
            </div>
        </div>
        <div class="btn-area-top"></div>
        <div class="btn-area">
            <ul>
                <li><a class="btn-action" href="#/admin/product/search"><span class="btn-prev">Return to search form</span></a></li>
                <li><a class="btn-action" href="#/admin/product/edit" ><span class="btn-next">Insert new product</span></a></li>

            </ul>
        </div>
        <div class="btn-area-bottom"></div>
    </div>

