<div ng-controller="adminProductEditCtrl" >
    <form name="form1" id="form1" method="post" action="?" enctype="multipart/form-data">
        <input type='hidden' id="image_key" name='image_key' value=''/>
        <input type="hidden" id="mode" name="mode" value="" />
        <input type='hidden' ng-model="product.product_id" name='product_id' value='{{product.product_id}}'/>
        <div id="products" class="contents-main">
            <h2>Edit Product</h2>
            <table class="form">
                <tr>
                    <th>Product ID</th>
                    <td>{{product.product_id}}</td>
                </tr>
                <tr>
                    <th>Name<span class="attention"> *</span></th>
                    <td>
                        <span class="attention"></span>
                        <input type="text" name="name"    ng-model="product.name"  maxlength="100" style="" size="60" class="box60" />
                        <span class="attention"> (Max 100 Char)</span>
                    </td>
                </tr>
                <tr>
                    <th>Category<span class="attention"> *</span></th>
                    <td>
    
                            <select  ng-model="product.category_id" ng-options="cat.category_id as cat.category_name for cat in cats">
                                <option>  </option>
                            </select>

                        </select>
                    </td>
                </tr>
                <tr>
                    <th>Status</th>
                    <td>
                         <span ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}"  ng-repeat="s in status">
                            <input type="checkbox" checklist-model="product.status" checklist-value="s.status_id"> {{s.name}} &nbsp;
                          </span>
                    </td>
                </tr>
                <tr>
                    <th>Price Standard</th>
                    <td>
                        <span class="attention"></span>
                        <input type="text" name="price_standard"  ng-model="product.price_standard"  style="" size="30" class="box30" />
                    </td>
                </tr>
                <tr>
                    <th>Price Sale<span class="attention">*</span></th>
                    <td>
                        <span class="attention"></span>
                        <input type="text"  ng-model="product.price_sale"  format-model='number' name="price_sale" style="" size="30" class="box30" />
                    </td>
                </tr>
                <tr>
                    <th>Stock<span class="attention">*</span></th>
                    <td>
                        <span class="attention"></span>
                        <input type="text"  ng-minlength="3" ng-maxlength="9" ng-model="product.stock"  name="stock"  style="" size="30" class="box30" />
                        <span ng-show="form1.stock.$error.minlength && !form1.stock.$pristine" >nhap hon 3 </span>
                        <span ng-show="form1.stock.$error.maxlength && !form1.stock.$pristine" >nhap hon 9 </span>
                    </td>
                </tr>

                <tr>
                    <th>Mode<span class="attention">*</span></th>
                    <td>
                        <input type="radio" ng-model="product.display_mode" name="display_mode" value="1" >Public &nbsp;
                        <input type="radio" ng-model="product.display_mode" name="display_mode" value="0"  >Private
                    </td>
                </tr>

                <tr>
                    <th>Description</th>
                    <td>
                        <span class="attention"></span>
                        <textarea name="description" ng-model="product.description"  cols="60" rows="8" class="area60" maxlength="1000"></textarea><br />
                        <span class="attention"> (Max 1000 Char)</span>
                    </td>
                </tr>
                <tr>
                    <th>List Image <br />[100×100]</th>
                    <td>
                        <image-upload image-src="product.list_image" img-width="100px" img-height="100px"/>
                    </td>
                </tr>
                <tr>
                    <th>Main Image <br />[200×200]</th>
                    <td>
                        <image-upload image-src="product.main_image" img-width="200px" img-height="200px"/>
                    </td>
                </tr>

                <tr>
                    <th>test khang</th>
                    <td>
                        <div input-validation>
                            <!--<input minvalue="800" isnumber  ng-model="product.name" name="khang"  type="text" class="box30" ng-minlength="3" ng-maxlength="4" required  />-->
                            <input minvalue="800" isnumber  ng-model="product.name" name="khang"  type="text" class="box30" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>test khang</th>
                    <td>
                        <select id="e1">
                            <option value="AL">Alabama</option>
                            <option value="Ao">ALo</option>
                            <option value="Ai">Ala</option>
                            <option value="At">Ama</option>
                            <option value="W">Wyoming</option>
                        </select>
                    </td>
                </tr>
            </table>

            <div class="btn-area">
                <ul>
                    <li><a class="btn-action" href="javascript:;" ng-click="goToSearchForm()"><span class="btn-prev">Search</span></a></li>
                    <li><a class="btn-action" href="javascript:;" ng-click="changeToConfirmView()"><span class="btn-next">Preview</span></a></li>
                </ul>
            </div>
        </div>
    </form>
</div>