
<div ng-controller="adminProductSearchCtrl" id="products" class="contents-main">

            <form name="search_form" id="search_form" method="post" action="?">
                <input type="hidden" name="mode" value="search_product" />
                <h2>Product Search Criteria</h2>

                <table>
                    <tr>
                        <th>Product ID </th>
                        <td colspan="3">
                            <span class="attention"></span>
                            <input type="text" ng-model="form.product_id" name="product_id" value="" maxlength="" style="" size="30" class="box30 form-control"/>
                        </td>
                    </tr>
                    <tr>
                        <th>Name</th>
                        <td>
                            <span class="attention"></span>
                            <input type="text" ng-model="form.name" name="name" value="" maxlength="" style="" size="30" class="box30 form-control" />
                        </td>
                        <th>Mode</th>
                        <td>

                            <input type="radio" ng-model="form.display_mode" name="display_mode" value="1">Public
                            <input type="radio" ng-model="form.display_mode" name="display_mode" value="0">Private
                        </td>
                    </tr>
                    <tr>
                        <th>Price From </th>
                        <td>
                            <span class="attention"></span>
                            <input type="text" ng-model="form.price_sale_from" name="price_sale_from" value="" maxlength="" style="" size="30" class="box30 form-control" />
                        </td>
                        <th>To </th>
                        <td>
                            <span class="attention"></span>
                            <input type="text"  ng-model="form.price_sale_to" name="price_sale_to" value="" maxlength="" style="" size="30" class="box30 form-control" />

                        </td>
                    </tr>
                    <tr>
                        <th>Category</th>
                        <td>
                            <span class="attention"></span>
                            <select  class="form-control" ng-model="form.category_id" ng-options="cat.id as cat.text for cat in cats">
                                <option>  </option>
                            </select>
                        </td>
                        <th>Status</th>
                        <td>
                            <span class="attention"></span>
                             <span  ng-repeat="s in status">
                                 <input type="checkbox" checklist-model="form.status" checklist-value="s.id"> {{s.text}} &nbsp;
                             </span>
                        </td>
                    </tr>
                </table>
                <div>
                    <p class="page_rows">Display
                        <select class=" form-control row_page" ng-model="form.pageSize" ng-options="p.value as p.text for p in pageSizes"></select>items
                    </p>

                    <div class="btn-area">
                        <ul>
                            <li><a class="btn-action" href="javascript:;" ng-click="search()" ><span class="btn-next">Search</span></a></li>
                        </ul>
                    </div>

                </div>
            </form>



            <form name="form1" id="form1" method="post" action="?">
                <input type="hidden" name="mode" value="" />
                <input type="hidden" name="product_id" value="" />
                <h2>Product List</h2>
                <div>
                    <span class="attention">{{form.total | number:0}}&nbsp;items</span>&nbsp;has found
                </div>

                <div class="pagination"
                     paging
                     page="form.currentPage"
                     page-size="form.pageSize"
                     ulClass=""
                     paging-action="searchPageProducts('',page)"
                     total="form.total">
                </div>
                <table class="list" id="products-search-result">
                    <col width="10%" />
                    <col width="10%" />
                    <col width="15%" />
                    <col width="30%" />
                    <col width="15%" />
                    <col width="10%" />
                    <col width="5%" />
                    <col width="5%" />
                    <tr>
                        <th>Product ID</th>
                        <th>Category</th>
                        <th >Image</th>
                        <th >Name</th>
                        <th >Price</th>
                        <th >Stock</th>
                        <th >Edit</th>
                        <th >Delete</th>
                    </tr>

                    <tr ng-repeat="product in products">
                        <td>{{product.product_id}}</td>
                        <td>{{product.category_name}}</td>
                        <td><img ng-src="{{imagePath}}{{product.list_image}}" style="width:100px;height:100px"/></td>
                        <td>{{product.name}}</td>
                        <td class='right'>{{product.price_sale | number:0}}</td>
                        <td class='right'>{{product.stock | number:0}}</td>
                        <td class='center'><a href='#/admin/product/edit/{{product.product_id}}' >Edit</a></td>
                        <td class='center'><a href='javascript:;' ng-click="delete()" >Delete</a></td>
                    </tr>


                </table>




            </form>

</div>