<div id="popup">
    <div id="popup-header">
        <div id="popup-logo"></div>
    </div>
    
<div id="popup-container">
<form name="form1" id="form1" method="post" action="#">
    <table>
        <tbody><tr>
                   <th>Category</th>
                   <td>
                     <!--  <select class="box30 form-control" name="search_category_id">
                           <option value="" selected="selected">Please make a selection</option>
                           <option label=">test01" value="44">&gt;test01</option>
                       </select>-->
                       <select  class="box30 form-control" ng-model="form.category_id" ng-options="cat.id as cat.text for cat in cats">
                           <option>  </option>
                       </select>
                   </td>
               </tr>
            <tr>
                <th>Product name</th>
                <td><input type="text" name="search_name" ng-model="form.name" value="" size="35" class="box30 form-control"></td>
            </tr>
        </tbody>
    </table>
   <div class="btn-area">
                        <ul>
                            <li><a class="btn-action" href="javascript:;" ng-click="search()"><span class="btn-next">Search</span></a></li>
                        </ul>
                    </div>



    <p> <span class="attention">{{form.total | number:0}}&nbsp;items</span>&nbsp;has found.</p>

    <div class="pagination"
         paging
         page="form.currentPage"
         page-size="form.pageSize"
         ulClass=""
         paging-action="searchPageProducts('',page)"
         total="form.total">
    </div>
        <table class="list">
        <tbody><tr>
            <th>Product image</th>
            <th>Product code</th>
            <th>Product name</th>
            <th>Confirm</th>
        </tr>

        <tr ng-repeat="product in products">
            <td><img ng-src="{{imagePath}}{{product.list_image}}" style="width:100px;height:100px"/></td>
            <td>{{product.name}}</td>
            <td class='right'>{{product.price_sale | number:0}}</td>
            <td class='center'><a href='javascript:;' ng-click="confirm(product)" >Confirm</a></td>
        </tr>
   
                </tbody></table>

        </form>
        </div>
</div>
