
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="content-script-type" content="text/javascript">
<meta http-equiv="content-style-type" content="text/css">
<link rel="stylesheet" href="../styles/admin/admin_contents.css" type="text/css" media="all" />
<script src="http://code.angularjs.org/1.2.0-rc.2/angular.min.js"></script>
<script src="script.js"></script>
<title>LOGIN</title>

</head>

<body ng-app="appLogin">
<div id="login">
<div id="login-wrap">
    <div id="login-form" class="clearfix">
        <h1><img src="../images/admin/contents/admin_login_logo.jpg" width="140" height="150" /></h1>
        <div id="input-form">
            <form>
            <p><label for="login_id">ID</label></p>
            <input type="text" ng-model="user.login_id" size="20" class="box25" />
            <p><label for="password">PASSWORD</label></p>
            <input type="password" ng-model="user.password" size="20" class="box25" />
            <p><a class="btn-tool-format" href="javascript:;" ng-click="login"><span>LOGIN</span></a></p>
            </form>
        </div>
        <span class="error"> {{error}}</span>
    </div>

</div>
<div id="copyright">Copyright &copy; 2000-2012 ABC CO.,LTD. All Rights Reserved.</div>
</div>
</body>
</html>














