
<div ng-include src="'views/admin/header.html'"></div>
<div ng-include src="'views/admin/navigation.html'"></div>

<div class="nav_title"> <h1><span class="title">Admin > Index</span></h1> </div> 

<!--{* CONTENTS *}-->
<div id="contents" class="clearfix">

<div id="home">

    <div id="home-main">
        <form name="form1" method="post" action="#">
      
  
        <h2>System Info</h2>
        <table summary="shop info" class="shop-info">
            <tr>
                <th>E Shop</td>
                <td>Jsp/Servlet</td>
            </tr>
            <tr>
                <th>Database</td>
                <td>My Sql</td>
            </tr>
             <tr>
                <th>Web Server</td>
                <td>Tomcat v7.0</td>
            </tr>
        </table>
      

        <h2>New Order</h2>
        <table summary="New Order" id="home-order">
            <tr>
                <th class="center">Date</th>
                <th class="center">Customer Name</th>
                <th class="center">Product</th>
                <th class="center">Total</th>
            </tr>
         
            <tr>
                <td>10/11/2012 10:10:10</td>
                <td>David Beckham</td>
                <td>Laptop Toshiba TV0134 </br>Laptop Toshiba TV0134 </br></td>
                <td class="right">16.000.000</td>
            </tr>
   
        </table>


        </form>
    </div>


</div>

</div>
<!--{* CONTENTS *}-->

<div ng-include src="'views/admin/footer.html'"></div>