<div id="login">
<div id="login-wrap">
    <div id="login-form" class="clearfix">
        <h1><img src="images/admin/contents/admin_login_logo.jpg" width="140" height="150" /></h1>
        <div ng-controller="AdminLoginCtrl" id="input-form">
            <form>
            <p><label for="email">EMAIL</label></p>
            <input type="text" ng-model="user.email" size="20" class="box25" />
            <p><label for="password">PASSWORD</label></p>
            <input type="password" ng-model="user.password" size="20" class="box25" />
            <div class="error">{{error}}</div>
            <p><a class="btn-tool-format" href="javascript:;" ng-click="login()"><span>LOGIN</span></a></p>
            </form>
        </div>
    </div>
</div>
<div id="copyright">Copyright &copy; 2000-2012 ABC CO.,LTD. All Rights Reserved.</div>
</div>