
<div id="home">

    <div id="home-main">
        <form name="form1" method="post" action="#">
  
        <h2>System Info</h2>
        <table summary="shop info" class="shop-info">
            <tr>
                <th>EShop</td>
                <td>PHP API / Angular Js</td>
            </tr>
            <tr>
                <th>Database</td>
                <td>My Sql</td>
            </tr>
             <tr>
                <th>Web Server</td>
                <td>Apache</td>
            </tr>
        </table>

            <h2>Shop Status</h2>
            <table summary="shop info" class="shop-info">
                <tr>
                    <th>Number Of Members</td>
                        <td>100</td>
                </tr>
                <tr>
                    <th>Yesterday sell amount</td>
                        <td>$1000</td>
                </tr>
                <tr>
                    <th>Number of items sold yesterday</td>
                        <td>102</td>
                </tr>
                <tr>
                    <th>Sales for this month (up to yesterday)</td>
                        <td>$103332</td>
                </tr>
                <tr>
                    <th>Number of items sold this month (up to yesterday)</td>
                        <td>1023</td>
                </tr>
            </table>
      

        <h2>New Order</h2>
        <table summary="New Order" id="home-order">
            <tr>
                <th class="center">Date</th>
                <th class="center">Customer Name</th>
                <th class="center">Product</th>
                <th class="center">Total</th>
            </tr>
         
            <tr>
                <td>10/11/2012 10:10:10</td>
                <td>David Beckham</td>
                <td>Laptop Toshiba TV0134 </br>Laptop Toshiba TV0134 </br></td>
                <td class="right">16.000.000</td>
            </tr>
   
        </table>


        </form>
    </div>


</div>
